/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/nbproject
/web/libs/
/node_modules/
/install.sh

src/Harproject/AppBundle/Resources/doc/*.bak