<form role="form" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <fieldset>
        {% if invalid_username is defined %}
            <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
        {% endif %}
        <div class="form-group">
            <input class="form-control" placeholder="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}" name="username" type="text" autofocus="">
        </div>
        <div class="row">
            <div class="col-lg-12">
                <input type="submit"  class="btn btn-lg btn-success btn-block" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>
    </fieldset>
</form>
